.container {
  perspective: 1000px;
  z-index: 50;

  .rotationWrapper {
    @apply w-full h-full flex justify-center items-center;
    transform-style: preserve-3d;
  }

  .cardWrapper {
    border-radius: 20px;
    @apply backdrop-blur-3xl bg-opacity-5 bg-white;
  }
}

.card {
  @apply rounded-3xl p-4 flex flex-col justify-between gap-6 text-center text-gray overflow-hidden;
  width: 240px;
  height: 320px;
  border: 2px solid rgba(200 200 200 / 0.2);

  .image {
    @apply rounded-lg overflow-hidden w-full h-full relative;
  }

  .title {
    @apply text-xl text-white font-medium;
  }
}

.shadow {
  @apply absolute bottom-0 left-1/2 -translate-x-1/2 -translate-y-1 -z-10;
}

.large {
  @apply gap-8;
  width: 450px;
  height: 600px;
}
